$font-stack: "Noto Sans KR", sans-serif;
$primary-background-color: #212d40;
$primary-font-color: #ebf1ff;
%side-heading {
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  color: #6b818c;
} 

body {
  font: 100% $font-stack;
  background-color: $primary-background-color;
  color: $primary-font-color;
}

.splash-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.splash-left h1 {
  font-size: 6rem;
  letter-spacing: 0.1rem;
}

.splash-left,
.splash-right {
  position: relative;
  width: 40%;
}

.splash-left {
  display: flex;
  justify-content: flex-end;
}

.splash-img-text > {
  h1 {
    background: transparent;
  }
}

.splash-right-content {
  margin: 0 45px;
}

.splash-right-content > {
  span {
    @extend %side-heading;
  }
  h2 {
    font-size: 1.9rem;
    letter-spacing: 0.1rem;
  }
  span:last-child {
    margin-top: 25px;
  }
}
